body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden; /* Prevent scrollbars */
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#geocoder {
  position: absolute;
  top: 20px; /* Adjust the top distance */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Ensure it's above the map */
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 30vw;
}

.search-container {
    display: flex;
    align-items: center;
}

#addressInput {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 0;
  outline: none;
  font-size: 16px;
   flex: 1; /* Allow input to grow and take available space */
}


#clearInput {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px; /* add padding for touch friendliness*/
    border-radius: 0 4px 0 0;
    margin-right: 0px; /* add padding for touch friendliness*/
}

#searchResults {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
}

#searchResults li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

#searchResults li:hover {
  background-color: #f0f0f0;
}

/* Make geocoder responsive */
@media (max-width: 768px) {
  #geocoder {
      width: calc(100% - 100px); /* Adjust the padding value */
     max-width: 600px;
  }
  
  #addressInput, #searchResults li {
      font-size: 14px;
  }
  
  #clearInput{
     font-size: 16px; /* Adjust the icon size for smaller screens*/
  }
}